# Discord settings
BOTTOKEN=O...
# Discord User Id
USERID=2....
# Guild IDs
GUILDID=..
TESTING_GUILD_ID=9.....
# API keys
WOLFRAMALPHAAPI=G....-.....
GENIUS_ACCESS_TOKEN=stcvQXxIOACe...
OPENAI_API_KEY=sk-...
GOOGLE_API_KEY=A...
# Notion API keys
NOTION_API_KEY=secret_....
NOTION_MONEY_TRACKER_DB_ID=86....
# Environment
environment=debug